body {
  background: #f5f4f8;
}
.contendorCalendarioTaks {
  margin: 4px 0 4px 0;

  width: 100%;
  height: 98.6vh;
  box-shadow: 0 0 3px gainsboro;
  transition: 0.1s ease;
  border-radius: 7px;
  background: white;
  overflow: hidden;
}

.nav-calendar-main {
  position: relative;
  padding: 8px;
  padding-right: 25px;
  background: #f9f9ff;
  display: grid;
  align-items: center;
  border-bottom: 1.5px solid #c9ceec;
}

.nav-calendar-main h4 {
  font-weight: 600;
}

/*Contenido*/

.contenedor-contenidoCalendario {
  padding: 30px;
}

.calendario-interfaz {
  position: relative;
  height: 55vh;
  box-shadow: 0 0 5px gainsboro;
  border-radius: 8px;
  padding: 10px;
}

.header-calendar {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  padding: 10px;
}

.header-calendar span:first-child {
  justify-self: start;
}

.header-calendar h4 {
  justify-self: center;
  margin: 0;
}

.header-calendar span:last-child {
  justify-self: end;
}

.header-calendar span {
  background: #e8e8fc;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.header-calendar span:active {
  scale: 0.95;
}

.lista-tareas-interfaz-calendar {
  height: 28vh;
  margin-top: 10px;
}
