:root {
  --color-bg: #ffffff;
  --color-text: #222;
  --color-primary: #1e88e5;

  --card-bg: #f5f5f5;
}
body {
  background: var(--color-bg);
  color: var(--color-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #121212;
    --color-text: #ffffff;
    --color-primary: #90caf9;

    --card-bg: #1e1e1e;
  }
}

/*Modo manual*/
html[data-theme="dark"] {
  --color-bg: #121212;
  --color-text: #ffffff;
  --color-primary: #90caf9;
  --card-bg: #1e1e1e;
}

html[data-theme="light"] {
  --color-bg: #ffffff;
  --color-text: #222222;
  --color-primary: #1e88e5;
  --card-bg: #f5f5f5;
}
