@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}
body{
    background:#cccfeb;
    background-size: 600% 600%;
}
/*Redirigir*/
.container_loader{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;
}
.container_loader.show{
   display: block;
}
.rederigir_app{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #020c3ae1;
    backdrop-filter: blur(5px);
    display: grid;
    justify-content: center;
    align-items: center;
    animation: intro 0.4s ease;
}
.rederigir_app h3{
    color: #00ffb3;
    margin-block-end: 20px;
}
.loader{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.loader samp{
    width: 10px;
    height: 10px;
    background-color: #00ffb3;
    border-radius: 50%;
    animation: loader 0.7s ease infinite alternate;
}
.loader samp:first-child{
    animation-delay: 0ms;
}
.loader samp:nth-child(2){
    animation-delay: 300ms;
}
.loader samp:nth-child(3){
    animation-delay: 600ms;
}

@keyframes loader {
    from{
        transform: translateY(0);
        opacity: 0.3;

    }
    to{
        opacity: 1;
        transform: translateY(5px) ;
    }
}
/*====================================*/
.contenedor{
    padding: 32px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}
.container_movil{
    display: none;
}
.Cuadro_info{
    padding: 38px;
    background: rgb(0, 44, 94);
    height: 78vh;
    border-top-left-radius:6px ;
    border-end-start-radius:6px ;
    box-shadow: 4px 2px 10px #6057e6;
    color: white;
}
.Cuadro_info h1{
   background: linear-gradient(90deg, #00e1ff, #ff0095,#92c5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 46px;
  background-size: 300% 300%;
  animation: mover 10s ease infinite,  zoom 0.50s ease-out;
}
.description{
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.4;
    animation: scale_text 0.80s ease-in-out;
}
.funciones_descrition h4{
    text-align: center;
    margin-top: 5px;
}
.microcopy{
    position: relative;
    padding: 40px 0;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    border-radius: 5px;
}

.cleck{
    color: #00e1ff;
    font-size: 40px;
    display: grid;
    padding: 0 10px;
    justify-content: center;

}
.cleck i{
    border-radius: 50%;
    height: 56px;
    width: 70px;
    padding-top: 14px;
    text-align: center;

}
.icon{
    border: 3px dashed #00e1ff;
    background: #000c74;
}
.icon2{
    color: #00ffb3;
    border: 3px solid #7bff00;
    background: #02c01b;
}
.icon3{
    border: 3px dashed #eb236c;
    color: #e52e71;
    background:#dffaf8 ;
}
.funciones_descrition{
    background: rgb(0, 24, 71);
    border-radius: 10px;
    height: 200px;
    transition: 0.40s ease-in-out;
    padding: 8px;
    position: relative;;
}
.funciones_descrition h4{
    color: #815eff;
}

.letf_box{
      animation: zoomfade2 1s ease-in;
      box-shadow: 0 0 14px blue;  
}
.right_box{
    animation: zoomfade2 1s ease-in;
    box-shadow: 0 0 14px blue;  
}
.center_box{
    height: 240px;
    margin-top: -20px;
    animation: zoomfade 0.40s ease-in;
    box-shadow: 0 0 14px blue;  
}
.letf_box:hover, .right_box:hover{
    transform: scale(1.09);
}
.center_box:hover{
    transform: scale(1.09);
}
.text{
    padding-top: 10px;
    color: #d8d7d7;
    font-size: 14px;
    text-align: center;
}
/*=====================================*/
.login_contenedor{
    padding: 30px 50px;
    background:white;
    border-top-right-radius:6px ;
    border-bottom-right-radius:6px ;
    box-shadow: 4px 4px 10px #6057e6; 
    position: relative;
}
#header_login{
    text-align: left;
}
.signup{
    color: #646363;
}
.signup a{
    color: #09035f;
    font-weight: bold;
    text-decoration: underline;
}
.login_contenedor h2{ 
   background: linear-gradient(40deg, #1a0153, #0e0158,#012761);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
    padding: 10px 0; 
    font-size: 28px;
}

.login_contenedor p{
    margin-block-end: 10px;
}
#AppSmartTansks{
    position: absolute;
    bottom: 20px;
    left: 38vh;
    text-align: center;
    text-decoration: none;
    color: #363636; 
}
#msgs{
    display: none;
    text-align: center;
}
#msgs.active{
    margin: 50px 0 0 0;
    color: red;
    animation: errorlogin 0.1s ease;  
    display: block;
}
.msgConexion{
    display: none;
}
.msgConexion.active{
    color: #02ca1d;
    display: block;
    animation: conexi 0.1s ease;
}
.inputs-layout{
    display: grid;
    grid-template-columns: 92% auto;
    row-gap: 9px;
}
.inputs-layout label{
    grid-column: 1 /span 2;
    animation: fade 0.30s ease-in-out;
    margin-top: 18px;
}
#in1{
    margin-top: 20px;
}
.inputs-layout input{
    padding: 10px 6px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid blue;
    font-size: 15px;
    transition: 0.30s ease-in-out;

}
.inputs-layout input:focus{
  outline: none;
  box-shadow: 0 0 10px #5957e6be; 
}

.inputs-layout i{
    padding: 8px;
    font-size: 20px;
    background: linear-gradient(60deg,#0019a8, #e52e71);
    color: rgb(255, 255, 255);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
#resetPassword{
    padding-top: 14px;
    text-align: center;
    color: #919090a4;
    font-weight: bold;
}
#resetPassword a{
    color: #000d53;
    font-weight: bold;
    text-decoration: underline;
}
#loginBtn{
    margin-top: 30px;
    padding: 10px 8px;
    width: 100%;
    border: none;
    background: linear-gradient(60deg, #000d53);
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    margin-block-end: 20px;
    border-radius: 5px;
}
#loginBtn:hover{
    transform: scale(1.01);
}
#eyePassword{
    cursor: pointer;
}
/*Animaciones*/
@keyframes mover {
  0% { background-position: 0% 50%; }
  60% { background-position: 100% 50%; }
  100% { background-position: 0% 90%; }
}

@keyframes zoom{
    from{
        opacity: 0.5;
        transform: scale(0.90) translateX(10px);
        
    }
    to{
        opacity: 1;
        transform:scale(1) translateY(0px);;
        
    }
}

@keyframes scale_text{
    from{
        opacity: 0;
        
    }
    to{
        opacity: 1;
    }
}

@keyframes zoomfade{
    0%{
        opacity: 0;
        transform: scale(0.90) ;
        
    }
    100%{
        opacity: 1;
        transform:scale(1);
        
    }
}
@keyframes zoomfade2{
    0%{
        opacity: 0;
        transform: scale(0.90) ;
    }
    100%{
        opacity: 1;
        transform:scale(1);
    }
}

@keyframes reveal {
    from{
        opacity: 0; 
        translate: 0 40px;
        scale: .90;
    }
    to{
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}
@keyframes intro {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes conexi{
    from{
        scale: 1.02;
    }
    to{
        scale: 1;
    }
}
@keyframes errorlogin{
    0%{
        scale: 1.01;
    }
    50%{
        transform: translateX(3px);
    }
    75%{
        transform: translateX(-3px);
    }
    100%{
        transform: translateX(0);
        scale: 1;
    }
}

/*reponsing*/
@media (max-width: 470px){
.contenedor{
    padding: 0 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.container_pc{
    display: none;
}
.container_movil{
    display: block;
}
.login_contenedor{
    padding: 30px 30px;
    height: 700px;
    border-radius: 0px;
}
#header_login{
    margin-block-end: 20px;
    justify-content: center;
}
.login_contenedor h2{ 
   background: linear-gradient(40deg, #4c00ff, #4123eb,#ff00b3);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
    padding: 3px 0;
    font-size: 28px;
}
.Cuadro_info h1{
   background: linear-gradient(80deg, #00e1ff, #ff0095,#92c5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 38px;
  background-size: 300% 300%;
  animation: mover 10s ease infinite;
}
.Cuadro_info{
    padding: 28px;
}
.inputs-layout{
    grid-template-columns: 88% auto;
}
.credenciales{
    margin-block-end:40px;
}
.Cuadro_info{
    height: 100%;
    border-radius: 0px;

}
.cleck{
    margin-top: 20px;

}
.microcopy{
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    border-radius: 5px;
}

.funciones_descrition h4{
    color: #815eff;
}

.letf_box,.center_box, .right_box
,.description,.footer{
    animation: reveal linear both;
    animation-timeline: view(); 
    animation-range: entry 20% cover 30%;

}
.footer{
    animation: reveal linear both;
    animation-timeline: view(); 
    animation-range: entry 1% cover 3%;
}

.center_box{
    height: 240px;
    margin-top: 0px;
}

.text{
    padding-top: 10px;
    color: #f7f7f7;
    font-size: 14px;
    text-align: center;
}
#AppSmartTansks{
    position: absolute;
    bottom: 20px;
    left: 18vh;
    text-align: center;
    text-decoration: none;
    color: #363636; 
}
.footer{
   margin-top: 50px;
   margin-left: 78px;
   position: absolute;
   text-align: center;
}

#SmartTansks{
    text-decoration: none;
    color: white;
}

}
