@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'sans-serif', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background:#320153;
}

.contenedor{
    padding: 32px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.Cuadro_info{
    padding: 30px;
    background: rgb(12, 1, 112);
    height: 81vh;
    border-top-left-radius:6px ;
    border-end-start-radius:6px ;
    box-shadow: 4px 2px 10px #6057e6;
    color: white;
}
.Cuadro_info h1{
   background: linear-gradient(40deg, #59eeee, #ff2474,#ff8a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 46px;
}
.login_contenedor{
    padding: 60px 50px;
    background:white;
    border-top-right-radius:6px ;
    border-bottom-right-radius:6px ;
    box-shadow: 4px 4px 10px #6057e6; 
    position: relative;
}
.login_contenedor h2{ 
   background: linear-gradient(40deg, #596fee, #eb236c,#ff8a00);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
    padding: 10px 0; 
    font-size: 36px;
}
#sesion-title{
     animation: fade-intro 0.40s ease-in-out;
}
.login_contenedor p{
    text-align: center;
    margin-block-end: 10px;
}
#AppSmartTansks{
    position: absolute;
    bottom: 20px;
    left: 40vh;
    text-align: center;
    text-decoration: none;
    color: #363636;

    
}
.login_contenedor a{
     text-decoration: none;
     color: #363636;
}
.inputs-layout input{
    padding: 10px 6px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid blue;
    font-size: 15px;
    transition: 0.30s ease-in-out;
    animation: fade 0.40s ease-in-out;
}
.inputs-layout input:focus{
  outline: none;
  box-shadow: 0 0 10px #5957e6be; 
}
.inputs-layout{
    margin-top: 1cqi;
    display: grid;
    grid-template-columns: 92% auto;
    row-gap: 20px;
}
.inputs-layout i{
    padding: 8px;
    font-size: 20px;
    background: linear-gradient(60deg,#0019a8, #e52e71);
    color: rgb(255, 255, 255);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: fade 0.40s ease-in-out;
}
#loginBtn{
    margin-top: 30px;
    padding: 10px 8px;
    width: 100%;
    border: none;
    background: linear-gradient(60deg, #596fee, #eb236c,#ff8a00);
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    margin-block-end: 20px;
    border-radius: 5px;
}
#loginBtn:hover{
    transform: scale(1.01);
}
#eyePassword{
    cursor: pointer;
}
/*Animaciones*/
@keyframes mover {
  0% { background-position: 0% 50%; }
  60% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes fade-intro{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(20px);
        
    }
    to{
        opacity: 1;
        transform: translateY(0);
      
    }
}