@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --color-icons: linear-gradient(60deg, #596fee,#f700ff);
}
/*Contenido pricipal INICIO*/
.container_main{
  display: grid;
  grid-template-columns: 9% auto;
  height: 100%;
  gap: 10px;
}
#Titulo_app{
  margin: 0 0 28px 10px;
  font-size: 30px;
  animation: aparecer 0.60s ease-in-out;
  background: linear-gradient(40deg, #596fee, #eb236c,#ff8a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*Barra superior principal*/
.Barra_Superior_principal{
  height: 50px;
  box-shadow: 4px 0 10px gainsboro;
  z-index: 28;
  padding: 6px;
  position: relative;
  display: grid;
  grid-template-columns: 80% 12% 4%;
}
.Settings_System{
  position: relative;
  cursor: pointer;
}
.themes{
  position: relative;
  cursor: pointer;
}
.themes i, .Settings_System i {
  font-size: 22px;
  background:  var(--color-icons);
  padding-top: 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.themes i{
  padding-left: 60px;
}
.content_theme{
  position: relative;
  display: none;
}
.content_theme.active{
  display: block;
}
.nav_themes.active{
  animation: themeAnimation 0.16s ease-in-out;
}
.nav_themes{
  position: absolute;
  margin-top: 30px;
  height: 300px;
  width: 210px;
  border-radius: 12px;
  box-shadow: 0 0 6px gainsboro;
  background: white;
  margin-right: 200px;
  padding: 20px;
}
.nav_themes ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav_themes li{
  margin-block-end: 30px;
}
.nav_themes p{
  padding: 0;
  margin: 0;
}
#Default_light, 
#Default_dark,
#System_theme{
  display: flex;
  gap: 20px;
  border-radius: 12px;
  box-shadow: 0 0 5px gainsboro;
  padding: 12px 8px;
  justify-content: center;
  transition: 0.16s ease-out;
}
#Default_light i, 
#Default_dark i,
#System_theme i{
  display: flex;
  margin: 0;
  padding: 0;
}
#Default_light:hover, 
#Default_dark:hover,
#System_theme:hover{
  background-color: #020580;
  color: #f5fdff;
  transform: scale(1.03);
}
/*Menu*/
.nav-main{
  box-shadow: 0px 0px 8px rgba(199, 199, 199, 0.568); 
  height: 100vh;
  background: linear-gradient(40deg,#f0f0f0, #e8e7ff ) ;
}
.nav_menu{
  padding: 15px 6px 6px 6px;
}
.contenedor_menu{
  list-style: none;
  margin: 0;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.funciones_smart{
  cursor: pointer;
  text-align: center;
}
.funciones_smart h5{
  margin: 9px 0;
}
.funciones_smart i{
  font-size: 24px;
  background:  var(--color-icons);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Funciones por separado*/
#Hogar{

}
#Proyectos{

}
#Calendario{

}
#cuenta{

}
#settings{
  display: flex;
  gap: 8px;
  margin-top: 16rem;
  background: #c7c9fa;
  padding: 3px;
  border-radius: 6px;
}
#settings h5{
  text-align: left;
  margin-top: 0px;
  margin-block-end: 0;
  padding: 0;
}
/*===========================================*/
.contenedor{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  position: relative;
  padding: 20px;
  height: 93vh;
  overflow-y: auto;
}

.targetas_info{
  height: 46vh;
  position: relative;
  
}

/* contenedor relativo para que los absolute dentro funcionen respecto a él */
.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  justify-content: center;
}

/* carrusel */
.carousel {
  margin-left: 30%;
  width: 240px;
  height: 410px;
  display: flex;
  gap: 30px;
  padding: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  perspective: 1200px;
}


/* esconder scrollbar en Webkit */
.carousel::-webkit-scrollbar { display: none; }

/* tarjetas */
.card {
  min-width: 200px;
  height: 240px;
  cursor: pointer;
  background: #fff;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 12px 25px rgba(0,0,0,.15);
  transition: transform .4s ease, opacity .4s ease, filter .4s ease;
}

/* estados */
.card.inactive-left { transform: scale(.8) rotateY(22deg); opacity:.5; filter: blur(1px); }
.card.inactive-right { transform: scale(.8) rotateY(-22deg); opacity:.5; filter: blur(1px); }
.card.active { transform: scale(.9) translateY(-20px); opacity:1; }



/* Agregar tareas*/
#task-input{
  position: relative;
  display: flex;
  margin-top: 20px;
  margin-block-end: 30px;
}

#task-input input{
  padding: 16px 8px;
  border-top-left-radius: 12px;
  border-end-start-radius: 12px;
  background:rgba(249, 254, 255, 0.788);
  margin-left: 160px;
  width: 100% ;
  border:  2px solid rgb(113, 194, 226);
  transition:  0.30s ease-in-out;
  font-size: 15px;
  animation:  fadeUp 0.40s ease-in-out;
}

#addBtn{
  position: relative;
  background: linear-gradient(60deg, #596fee, #eb236c,#ff8a00);
  border-top-right-radius: 12px;
  border-end-end-radius: 12px;
  margin-right: 220px;
  cursor: pointer;
}
#taskList{
  max-height: 580px;
  overflow-y: auto;
  padding: 30px;
}
#taskList::-webkit-scrollbar{
  width: 4px;
  height: 4px;
}
#taskList::-webkit-scrollbar-thumb{
  background-color: #ffffff46;
  transition: background 0.90s ease-in-out ;
  border-radius: 10px;
}
#taskList::-webkit-scrollbar-thumb:hover{
  background-color: #ffffffab;
}
#task-input i{
 padding: 15px 18px;
 font-size: 26px;
 transition: 0.40s ease-in-out;
 color: rgb(255, 255, 255);
}
#task-input{
 animation:  fadeUp 0.80s ease-in-out;
}

#task-input i:hover{
  transform: scale(1.04);
}
#task-input input:focus {
  outline: none;
  box-shadow: 0 6px 10px #b0d0ffd2;
}
/*Categorias*/
.main-cont-categoria{
  position:relative;
  width:100% ;
  height: 100px;
  margin-block-end: 20px;
}
.Categoria.active{
   height: 600px;
}
.Categoria{
  position: absolute;
  transition: 0.30s ease-out;
  width:100% ;
  height: 90px;
  box-shadow: 0 0 10px rgba(220, 220, 220, 0.651);
  border-radius: 8px;
  padding: 10px;
  z-index: 20;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.contenedor_categoria .options.selected {
  background: #2125ffa1;
  color: #b5eff7;
}

.Categoria h4{
  margin: 0;
}
.contenedor_categoria{
  display:grid;
  grid-template-columns: repeat(8, auto);
  gap: 5px;
  max-width: 1200px;
  overflow-x: auto;
}
.contenedor_categoria::-webkit-scrollbar{
  display: none;
}
.options{
  cursor: pointer;
  padding: 10px 8px;
  border-radius: 28px;
  margin-top: 5px;
  color: #818181;
  border:  2px solid rgb(87, 154, 255);
  transition: 0.50s ease-in-out;
  font-weight: bold;
}
.options:hover{
  background-color: #2125ffa1;
  color: #e0fbff;
  transform: scale(1.03);
}
.CateIcons{
  padding: 4px;
  border-radius: 6px;
}
.CateIcons{
  font-size: 19px;
}
.task-cat{
  background: linear-gradient(40deg, rgb(250, 252, 255), rgb(236, 236, 236), rgb(247, 247, 248) );
  box-shadow: 0 0 10px gainsboro;
  font-size: 15px;
  border-radius: 12px;
  padding-top: 4px;
  font-weight: bold;
  color: #069caf;
  text-align: center;
}
.task-pro{
  font-size: 15px;
  padding: 12px 12px;
  border-radius: 12px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px dashed gainsboro;
}


/*Horario*/
.horaio_día{
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-block-end: 26px;
}
.tiempo{
  border-radius: 10px;
  background: #6c80f5;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}
.tiempo p{
  margin: 0;
  padding-top: 3px;
}
.tiempo i{
  font-size: 25px;
   color: #77efff;
}

.importancia{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 12px;
}
.proridad{
  margin-top: 9px ;
  padding: 8px;
  color: #494949;
  background: white;
  box-shadow: 0 0 6px  rgb(190, 190, 190);
  border-radius: 10px;
  cursor: pointer;
}
.agregar{
  width: 100%;
  margin-top: 30px;
  padding: 10px;
  display: grid;
  justify-content: center;
}

#Guadar-btn{
  padding: 12px 60px;
  background: linear-gradient(60deg, #596fee, #eb236c,#ff8a00);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  transition: 0.40s ease-in-out;
  cursor: pointer;
}
#Guadar-btn:hover{
  transform: scale(1.04);

}
/*=====================================*/
.List_check{
  padding: 20px;
  border-radius: 8px;
  grid-column: 1 / span 2;
  box-shadow: 0 0 8px gainsboro;

}
.task-item{
  display: grid;
  grid-template-columns: 2% 50% 20% auto 2%;
  box-shadow: 0 0 10px rgba(204, 204, 204, 0.781);
  gap: 20px;
  transition: 0.90s ease-out;
  padding: 12px;
  font-size: 18px;
  margin-bottom: 8px;
  border-radius: 8px;
  margin-block-end: 15px;
}

.task-text {
  cursor: pointer;
  flex-grow: 5;
}

.task-text.done {
  text-decoration: line-through;
  opacity: 0.6;
  animation: popCkeck2 0.40s ease-in-out;
}

.check {
  appearance: none;   /* Quita el estilo del sistema */
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.25s ease;
  position: relative;
}

.check:hover {
  border-color: #4a60de;
}


.check:checked {
  background: #4a59de;
  border-color: #4ad9de;
}


.check:checked::before {
  content: "✔";
  color: white;
  font-size: 14px;
  position: absolute;
  top: -2px;
  left: 4px;
}
.info_tarea{
  margin-top: 20px;
  box-shadow: 0 0 10px gainsboro;
  padding: 10px;
}

.body_tarea{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}
.viso_caja_vacia{
  grid-column: 2/ span 2 ;
  height: 190px;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
  border-radius: 8px;
  border: 2px dashed rgb(255, 0, 140);
  background-color: #8cc7d41e;
}
.caja{
  width: 90px;
  height: 90px;
  background: linear-gradient(60deg, #ff8a00, #e52e71);
  cursor: pointer;
  padding: 6px;
  margin-top: 10px;
  border-radius: 50%;
  text-align: center;
}
.caja i{
  font-size: 30px;
  color: #020580;
  margin-top: 30px;
}

/*stylo gobal de targetas*/
.cont_tarjetas{
 background: linear-gradient(90deg, #a9f2ff, #a8adff);;
 height: 220px ;
 border-radius: 12px;
 padding: 6px;
}
.emoji{
  width:70px ;
  height: 70px;
  border: 2px solid gainsboro;
  border-radius: 50%;
  margin-left: 15px;
  background-color: #020580;
}
.editar{
  background-color: #ffffff;
  display: flex;
  gap: 5px;
  border-radius: 6px;
}
.editar i{
  color: #e52e71;
  padding: 6px 4px;
}
.editar p{
  margin: 5px;
}
/*=================================*/

.delete-btn {
  background: rebeccapurple;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  color: rgb(255, 0, 140);
}
.openEditar{
  font-size: 20px;
  padding-top: 12px;
  cursor: pointer;
  color: #001aff;

}
.editar_item{
  display: none;
  background-color: #020580;
}
.editar_item.active{
  display: block;
}
.Editar_targeta{
  display: none;
}
.Editar_targeta.active{
  display: block;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 17;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
}
.cuerpo_modal{
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  padding-top: 50px;
  width: 600px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 4px 9px 10px slateblue;
  animation: intro 0.80s ease-in-out;
}
.header-editar{
  display: grid;
  grid-template-columns: 93% auto;
  top: 0;
  padding: 8px;
  position: absolute;
  background: linear-gradient(to right, #d6f1f8, #8ce9fa);
  width: 100%;
  box-shadow: 0 3px 5px rgba(220, 220, 220, 0.63);
  z-index: 17;
}
.header-editar p{
  font-size: 14px;
  color: #818181;
  margin: 3px;
  font-weight: bold;
}
.Closeeditar{
  font-size: 25px;

}
.footer-editar{
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 -4px 5px rgba(220, 220, 220, 0.63);
}
.contenido-editar{
  padding: 8px;
  overflow-y: auto;
  height: 300px;
}
.input-editar input{
  width: 97%;
  padding: 12px 6px;
  font-size: 20px;
  font-weight: bold;
  color: #818181;
  border: none;
}

/*=============== Animaciones ====================*/
@keyframes intro{
  from{
    opacity: 0;
    transform: scale(.8);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes themeAnimation {
 
  from{
    transform: scale(0.96);
    opacity: 0;
  }
   to{
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes spin{
  form{translate: 0;}
  to{ translate: -100%; }
}
@keyframes aparecer{
  from{
    opacity: 0;
    transform: translateY(-4px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
    text-shadow: 0px 0 0px rgba(105, 90, 205, 0);
  }
}
@keyframes fadeUp{
  from{
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px)

  }
}
@keyframes deleteItem {
  from{
    opacity: 1;
    transform: translateX(-500px);
  }
  to {
    opacity: 0;
    transform: translateX(0)
  }
}
@keyframes popCkeck{
  0% {transform: scale(1);}
  40% {transform: scale(1.50);}
  100% {transform: scale(1);}
}
@keyframes popCkeck2{
  40% {transform: scale(1.02);}
}
/* Fondo del modal */
.modal {
  position: fixed;
  z-index: 29;
  inset: 0;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .35s ease;
}

/* Mostrar modal */
.modal.show {
  opacity: 1;
  pointer-events: all;
}

/* Caja del modal */
.modal-content {
  background: transparent;
  padding: 40px 50px;
  border-radius: 20px;
  text-align: center;
  background: linear-gradient(100deg,  #0026ff, #f7186a, #020580);
  background-size: 600% 600%;
  animation: mover 4s ease infinite;
}
.backgraud-content{
    transform: scale(.6);
    opacity: 0;
    animation: modalIn .4s ease forwards;
    border-radius: 20px;
}
/* Animación entrada modal */
@keyframes modalIn {
  0% { transform: scale(.6) translateY(20px); opacity: 0; }
  100% { transform: scale(1) translateY(0); opacity: 1; }
}

/* Ícono animado */
.check-anim {
  background: linear-gradient(30deg, #a9d2dd, #c3f4fc);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid #0084ff;
  position: relative;
  margin: auto;
  animation: pop 0.10s ease forwards 0.1s;
}

/* Check en pseudo-elemento */
.check-anim::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 50px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 9px;
  border-right: 8px solid #001aff;
  border-bottom: 8px solid #ae00ff;
  transform: rotate(38deg) translate(8px, -5px);
  top: 10px;
  left: 18px;
  opacity: 0;
  animation: drawCheck 0.4s ease forwards 0.2s;
}

/* Animación círculo */
@keyframes pop {
  0% { transform: scale(.4); opacity: 0; }
  70% { transform: scale(1.2); }
  100% { transform: scale(1); opacity: 1; }

}

/* Dibujar el check */
@keyframes drawCheck {
  0% { opacity: 0; transform: rotate(38deg) translate(8px, -5px) scale(0.90); }
  90% { opacity: 0.5; transform: rotate(38deg) translate(8px, -5px) scale(1.09); }
  100% { opacity: 1; transform: rotate(38deg) translate(8px, -5px) scale(1); }
}

@keyframes mover {
  0% { background-position: 0% 50%; }
  60% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
@keyframes Titulo-fade{
  to{
    transform: scale(1);
    opacity: 1;
  }
  from{
    transform: scale(1.3);
    opacity: 0.5;
  }
}


/* Título */
.titulo-modal {
  margin-top: 20px;
  padding: 5px;
  border-radius: 12px;
  font-size: 24px;
  font-weight: bold;
  color: #2ed5ff;
  animation: Titulo-fade .90s ease-in-out;
}
/*=================================================*/


/*Resposing*/

@media (max-width: 470px){
.container_main{
  grid-template-columns: auto;
}
#Titulo_app{
  margin: 8px 0 28px 10px;
  font-size: 20px;
}
.contenedor{
  gap: 0px;
  padding: 16px;
  grid-template-columns: repeat(1, 1fr);
}
#addBtn{
  background-color: rgb(255, 217, 0);
  width: auto;
  cursor: pointer;
  margin-right: 0px;
}
#task-input input{
  width: 100%;
  margin-left: 0px;
}
.Categoria{
  position: absolute;
  transition: 0.30s ease-out;
}
.contenedor_categoria{
  grid-template-columns: repeat(2, auto);
  max-width: 100%;
}
.Categoria.active{
   height: 480px;
}
.targetas_info{
  margin-top: 340px;
  grid-column: 1 / span 1;
}
.carousel {
  margin-left: 10%;
  width: 240px;
  height: 400px;
}

/* tarjetas */
.card {
  min-width: 220px;
  height: 300px
}


.List_check{
  padding: 20px;
  grid-column: 1 / span 2;
  margin-top: 130px;
  
}
.task-item{
  display: grid;
  grid-template-columns: 4% 72% auto;

}
.info_tarea{
 grid-column: 1 /span 2;
 padding: 8px;
 border-radius: 8px;
 margin-block-end: 50px;

}
.body_tarea{
  display: grid;
  grid-template-columns: auto ;
  gap: 10px;
}
.viso_caja_vacia{
    grid-column: 1/ span 1 ;
}

.nav-main{
  background-color: #fff;
  box-shadow: 0px  -4px 2px rgba(199, 199, 199, 0.568); 
  z-index: 14;
  position:fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
}
.contenedor_menu{
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.Barra_Superior_principal{
  grid-template-columns: 79% 12% 4%;
}

.content_theme{
  position: relative;
  display: none;
  margin-right: 90px;
}
.themes i{
  padding-left: 0px;
}

.check-anim {
  width: 80px;
  height: 80px;
}
.check-anim::after {
  width: 20px;
  height: 30px;
  top: 10px;
  left: 10px;
}
/*
.modal-content {
  padding: 10px 10px;
}*/

}
