@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

body {
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
}
*{
  margin: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
}
:root {
  --color-icons: linear-gradient(60deg, #596fee,#f700ff);
}
/*Contenido pricipal INICIO*/
.container_main{
  position: relative;
  display: grid;
  grid-template-columns: 16% auto;
  height: 100%;
  gap: 10px;
}
#Titulo_app{
  margin: 0 0 0px 0px;
  font-size: 19px;
  animation: aparecer 0.60s ease-in-out;
  background: linear-gradient(40deg, #596fee, #eb236c,#ff8a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*Barra superior principal*/
.Barra_Superior_principal{
  box-shadow: 4px 0 10px gainsboro;
  z-index: 28;
  padding: 6px 10px;
  position: relative;
  display: grid;
  grid-template-columns: auto 40%;
  gap: 10px;
}
.tasksProyecAll h2{
  margin: 8px 0 0 0;
  color: #272626;
  font-weight: normal;
}
.NavMovil{
  grid-column: 1 /span 2;
  padding: 5px 8px;
  display: none;
}

/*Perfil*/
.add_persons_notificaciones{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding-left: 140px;
}
.perfil_user{
  display: grid;
  grid-template-columns: 18% auto 15%;
  gap: 5px;
  margin-top: 8px;
  padding: 5px;
  background-color: #ffffff;
  height: 39px;
  border-radius: 12px;
  border: 1px solid gainsboro;
}
.name_Users{
  position: relative;
  width: 100%;
  height: 28px;
  overflow:scroll;
  display: grid;
  grid-template-columns: 1fr;
}
.contenNameUser{
  width: 100%;
}
.name_Users::-webkit-scrollbar{
  display: none;
}
.perfil_user h5{margin: 6px 0 0 0; width: 100%; } 
.foto_perfil img{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1.5px solid gainsboro;
  margin: 0;
}
.addPersons{
  padding: 11px 4px;
  background: rgb(253, 253, 253);
  border-radius: 12px;
  border: 1px solid gainsboro;
  margin-top: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}
.addPersons:hover{
  background-color: #f2f3fa;
}
.open_cuentas_family_colaborador i{
  padding-top: 7px;
  font-size: 13px;
}
.Saludo_noticias{
  height: 100px;
  border-radius: 12px;
  background: linear-gradient(50deg, rgb(133, 131, 255), rgb(62, 59, 252));
  padding: 15px;
  display: grid;
  grid-template-columns: 70% auto;
  gap: 8px;
}
.Saludo_noticias h3{
  margin: 0;
  color: white;
}
.Saludo_noticias p{
  margin: 0;
  font-size: 14px;
}
#estadoSystem{
  margin-top: 10px;
  color: rgba(245, 245, 245, 0.815);
  font-size: 15px;
}
.infor_Tareas_estado{
  padding: 12px 0;
}
.CantTasksAdd{
  display: flex;
  gap: 5px;
  border-radius: 15px;
  background: white;
  color: #313131;
  padding: 4px 8px;
}
.CantTasksAdd button{
  background: transparent;
  border-radius: 50%;
  border: 2px solid rgb(0, 230, 50);
  background: #eaeaff;
  color: #31d100;
  font-weight: bold;
  height: 40px;
} 
.CantTasksAdd h5{
  margin: 6px 0 0 0;
  color: #505050;
}
/*==================================*/
.contanier_settinRigth{
  background-color: #f4f4fa;
  border-radius: 12px;
  padding: 6px;
  display: grid;
  grid-template-columns: 70% auto;
  gap: 6px;

}
.candTasks{
  border-radius: 12px;
  background-color: #ffffff;
  padding: 5px;
}
.icoCantidad{
  background-color: #ffffff;
  border-radius: 12px;
  text-align: center;
  color: #00d9ff;
  height: 60%;
  margin-block-end: 6px;
  padding: 5px 0;
}
.icoCantidad i{
  border: 2px solid #00d9ff;
  font-size: 20px;
  padding: 6px;
  border-radius: 50%;
}
.cantidadTareas{
  display: flex;
  gap: 4px;
  justify-content: center;
}
.cantidadTareas p{
  margin: 0;
}
.dateNow{
border-radius: 12px;
background-color: #ffffff;
height: 40px;
display: grid;
grid-template-columns: 15% auto;
padding: 5px;
height: 50px;
}
.day{
  padding: 8px 6px;
  border-radius: 14px;
  border: 1px solid gainsboro;
  text-align: center;
  font-weight: bold;
  background: #00003d;
  color: rgb(255, 255, 255);
}
.day p{
  margin: 0;
}
.dateNow h3{
  margin: 0;
  margin-top: 8px;
  margin-left: 6px;
  color: #5a5a5a;
  font-size: 16px;

}
#tasksOptions button{
  padding-top: 10px;
  background: transparent;
  border: none;
  font-size: 14px;
  cursor:pointer;
}
#tasksOptions  button i{
  font-size: 14px;
  margin: 0;
  padding: 0;
  margin-left: 16px;
}
.themes{
  position: relative;
  cursor: pointer;
  display: flex;
}
.themes i, .Settings_System i {

  font-size: 18px;
  color: #525252;
  padding-top: 10px;
}
.themes i{
  padding-left: 14px;
}
.themes p{margin: 0; font-size: 14px; padding-top: 10px; padding-left: 4px;}
.content_theme{
  position: relative;
  display: none;
  background-color: #0026ff;
}
.content_theme.active{
  display: block;
  position: absolute;
}
.nav_themes.active{
  animation: themeAnimation 0.16s ease-in-out;
}
.nav_themes{
  position: absolute;
  margin-top: 40px;
  height: 240px;
  width: 210px;
  border-radius: 12px;
  box-shadow: 0 0 30px gainsboro;
  background: white;
  padding: 20px;
}

.nav_themes i{
  background: var(--color-icons);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav_themes ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav_themes li{
  margin-block-end: 30px;
}
.nav_themes p{
  padding: 0;
  margin: 0;
}
#openThemes{
  display: flex;
  gap: 2px;
}
#Default_light, 
#Default_dark,
#System_theme{
  display: flex;
  gap: 20px;
  border-radius: 12px;
  box-shadow: 0 0 5px gainsboro;
  padding: 12px 8px;
  justify-content: center;
  transition: 0.16s ease-out;
}
#Default_light i, 
#Default_dark i,
#System_theme i{
  display: flex;
  margin: 0;
  padding: 0;
}
#Default_light:hover, 
#Default_dark:hover,
#System_theme:hover{
  background-color: #000138;
  color: #f5fdff;
  transform: scale(1.03);
}
/*Menu*/
.nav-main{
  box-shadow: 0px 0px 8px rgba(199, 199, 199, 0.568); 
  position: relative;
  height: 99vh;
  margin: 4px;
  border-radius: 8px;
  color: rgb(218, 217, 217);
  font-size: 14px;
  background: #000138;
}
.nav_menu{
  padding: 15px 6px 6px 6px;
}
.nav2{
  display: none;
}
.contenedor_menu{
  list-style: none;
  margin: 0;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
}
.funciones_smart{
  cursor: pointer;
  text-align: center;
  transition: 0.2s linear;
  padding: 4px;
  border-radius: 5px;
}
.titu{
  padding: 3px;
}
.titu p{
margin: 0;
}
#appSmat{
  display: grid;
  grid-template-columns: auto;
  justify-content: left;
  padding: 3px;
}
.funciones_smart:hover {
  background: #1e2ce91a;
  color: white;
}
.funciones_smart p{
  margin: 0px 0;
}
.funciones_smart i{
  font-size: 15px;
  color: rgb(184, 182, 182);
}
.lineDiv{
  height: 2px;
  background-color: rgb(51, 55, 102);
  border-radius: 5px;
}
/*Funciones por separado*/
#Hogar{
  display: flex;
  gap: 8px;
}
#searchSmar{
  margin-top: 0;
}
.formSearc{
  margin: 0;
  display: grid;
  grid-template-columns: 5% auto;
  gap: 14px;
  padding: 2px 4px;
  background: #0217da4d;
  border-radius: 10px;
}
#buscador{
  margin: 5px 0;
  background: transparent;
  border: none;
  width: 100%;
  color: white;
  border-radius: 6px;
}
#buscador::placeholder{
  color: white;
}
#buscador:focus{
  outline: none;
}
.formSearc i{
  padding-top: 7px;
  padding-left: 3px;
  color: rgb(231, 231, 231);
}
.Root-taks{
  margin-top: 20vh;

}

#Add{
  cursor: pointer;
  display: flex;
  gap: 6px;
  transition: .2s ease-in-out;
  padding: 8px 2px;
  border-radius: 5px;
  border-radius: 6px;
  background: rgb(62, 59, 252);
  justify-content: center;
  color: white;
}
#Add p{
  margin: 0;
}
#Add i{
  font-size: 16px;
  color: rgb(255, 255, 255);
}
#Add:hover{
    background: #0044ff60; 
    scale: .96;
}
#Proyectos{
  display: flex;
  gap: 8px;
}
#Calendario{
  display: flex;
  gap: 8px;
}
#cuenta{
  display: flex;
  gap: 8px;
}
#settings{
  display: flex;
  gap: 8px;
  padding: 5px 3px;
}
#settings i{color: #ffffff;}
#logoutBtni{
  color: rgb(187, 187, 187);}
#logoutBtn{
  display: flex;
  gap: 8px;
  padding: 3px;
  color: rgb(202, 202, 202);
  cursor: pointer;
}
#logoutBtn p{
   margin: 0;
}
/*===========================================*/
.contenedor{
  display: grid;
  grid-template-columns: 59.8% auto;
  position: relative;
  gap: 12px;
  padding: 20px 20px 20px 4px;
  height: 72vh;
  overflow-y: auto;
}
.contenedor::-webkit-scrollbar{
  display: none;
}

.subir_tarea{
  position: fixed;
  width: 83%;
  height: 80vh;
  z-index: 22;
  display: none;
  background-color: white;
}
.subir_tarea.show{
  display: block;
}
.backgraud-tasks{
  height: 100%;
  background-color: white;
}
.contenido_main{
  position: relative;
  height: 70vh;
  padding-top: 16px;
  margin: 10px 0 0 0;
  border: 1px solid gainsboro;
  border-radius: 5px;
  background-color: white;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 15% auto;
  gap: 15px;
}

.targetas_info{
  height: 46vh;
  position: relative;
  
}

.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  justify-content: center;
}

/* carrusel */
.carousel {
  margin-left: 30%;
  width: 240px;
  height: 410px;
  display: flex;
  gap: 30px;
  padding: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  perspective: 1200px;
}



.carousel::-webkit-scrollbar { display: none; }

/* tarjetas */
.card {
  min-width: 200px;
  height: 240px;
  cursor: pointer;
  background: #fff;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 12px 25px rgba(0,0,0,.15);
  transition: transform .4s ease, opacity .4s ease, filter .4s ease;
}

/* estados */
.card.inactive-left { transform: scale(.8) rotateY(22deg); opacity:.5; filter: blur(1px); }
.card.inactive-right { transform: scale(.8) rotateY(-22deg); opacity:.5; filter: blur(1px); }
.card.active { transform: scale(.9) translateY(-20px); opacity:1; }



/* Agregar tareas*/
.scroll_subir_task{
  padding: 10px;
}
#task-input{
  position: relative;
  display: flex;
  margin-block-end: 20px;
}

#task-input input{
  padding: 16px 8px;
  background:rgba(249, 254, 255, 0.788);
  width: 100% ;
  border:none;
  box-shadow: 0 2px  0 0px gainsboro;
  transition:  0.30s ease-in-out;
  font-size: 15px;
  animation:  fadeUp 0.40s ease-in-out;
}
#task-input input::placeholder{
  font-size: 16px;
}

#addBtn{
  position: relative;
  background: linear-gradient(60deg, #596fee, #eb236c,#ff8a00);
  border-top-right-radius: 12px;
  border-end-end-radius: 12px;
  cursor: pointer;
}
#taskList{
  position: relative;
  padding: 0px;
  margin-top: 6px;
  height: 373px;
  overflow-y: auto;
  padding: 0 6px;
  padding-top: 6px;
}
#taskList::-webkit-scrollbar{
  width: 4px;
  height: 4px;
  display: none;
}
#taskList::-webkit-scrollbar-thumb{
  background-color: #ffffff46;
  transition: background 0.90s ease-in-out ;
  border-radius: 10px;
}
#taskList::-webkit-scrollbar-thumb:hover{
  background-color: #ffffffab;
}
#task-input i{
 padding: 15px 18px;
 font-size: 26px;
 transition: 0.40s ease-in-out;
 color: rgb(255, 255, 255);
}
#task-input{
 animation:  fadeUp 0.80s ease-in-out;
}

#task-input i:hover{
  transform: scale(1.04);
}
#task-input input:focus {
  outline: none;
  box-shadow: 0 6px 10px #b0d0ffd2;
}
/*Categorias*/
.main-cont-categoria{
  position:relative;
  width:100% ;
  height: 100px;
  margin-block-end: 20px;
}
.Categoria{
  transition: 0.6s ease-out;
  box-shadow: 0 0 10px rgba(220, 220, 220, 0.651);
  border-radius: 8px;
  padding: 15px;
  z-index: 20;
  background-color: rgb(255, 255, 255);
}
.contenedor_categoria .options.selected {
  background-color: #020580;
  color: #f5fdff;
}

.Categoria h4{
  margin: 0;
  border: 1px solid gainsboro;
  width: auto;
  border-radius: 6px;
  padding: 5px 5px;
  color: #069caf;

}
.contenedor_categoria h3{
  margin: 0 0 10px 0;
  text-align: center;
}
.contenedor_categoria{
  grid-row: 1 /span 2;
  display:grid;
  grid-template-columns: repeat(1, auto);
  gap: 15px;
  height: 490px;
  overflow-y: auto;
  padding: 14px;
}
.contenedor_categoria::-webkit-scrollbar{
  display: none;
}
.options{
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 10%;
  gap: 5px;
  padding: 10px 8px;
  border-radius: 8px;
  margin-top: 5px;
  color: #818181;
  box-shadow: 0 0 6px gainsboro;
  transition: 0.50s ease-in-out;
  font-weight: bold;
  justify-content: center;
}
.options p{
  margin: 0;
  font-size: 15px;
}
/*color de icoos categoria barra*/
.trabajo i{
  color: #ff00b3ff;
  font-size: 19px;
}
.estudio i{
  color: rgb(2, 206, 172);
  font-size: 19px;}
.dieta i{
  color: #01cc4fff;
  font-size: 19px;
}
.marketing i{
  color: rgb(0, 183, 255);
  font-size: 19px;
}
.rutina_diaria i{
  color: rgb(255, 217, 0);
  font-size: 19px;
}
.fitnest i{
  color: rgb(195, 0, 255);
  font-size: 19px;
}
.festividades i{
  color: #ff00b3ff;
  font-size: 19px;
}
.vacaciones i{
  color: rgb(3, 218, 218);
  font-size: 19px;
}
/*===================================*/
.options:hover{
  background-color: #020580;
  color: #f5fdff;
  transform: scale(1.03);
}
.CateIcons{
  padding: 4px;
  border-radius: 6px;
}
.CateIcons{
  font-size: 15spx;
}
.task-cat{
  background: linear-gradient(40deg, rgb(250, 252, 255), rgb(236, 236, 236), rgb(247, 247, 248) );
  box-shadow: 0 0 10px gainsboro;
  font-size: 14px;
  border-radius: 12px;
  color: #069caf;
  text-align: center;
  font-size: 14px;
  font-weight:500;
  position: absolute;
  width: 100%;
  padding: 6px 6px ;
}
.task-pro{
  font-size: 15px;
  padding: 6px 6px;
  border-radius: 12px;
  text-align: center;
  border-bottom: 2px dashed gainsboro;
  font-weight: 500;
  position: absolute;
  width: 100%;
}
.contentCatPro{
  position: relative;
  height: 34px;
}
/*Horario*/
.horaio_día{
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-block-end: 26px;
}
.tiempo{
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  font-weight: bold;
  color: #616161;
  cursor: pointer;
  box-shadow: 0 0 10px gainsboro;
}
.tiempo p{
  margin: 0;
  padding-top: 3px;
}
.tiempo i{
  font-size: 25px;
   color: #77efff;
}

.importancia{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 12px;
}
.proridad{
  margin-top: 9px ;
  padding: 8px;
  color: #494949;
  background: white;
  box-shadow: 0 0 6px  rgb(190, 190, 190);
  border-radius: 10px;
  cursor: pointer;
}
.agregar{
  width: 100%;
  margin-top: 30px;
  padding: 10px;
  display: grid;
  justify-content: center;
}
/*descrition*/
.title_description{
  display: flex;
  gap: 4px;
  padding: 6px;
  margin-block-end: 6px;
}
.title_description p{margin:0px 0;}
.icoDes{color:#f7186a;}
.icoRepe{ color:#00be39;}
.descrition_box{
  width: 100%;
  height: 120px;
  padding: 5px;
  border-radius: 5px;
  margin-top: 20px;
  background: #ebeffc;
}
.descrition_box {
  display: grid;
  grid-template-columns: auto 46%;
  gap: 10px;
  padding: 24px 10px;
}
.descrition_box input{
  width: 100%;
  padding: 10px 10px;
  border-radius: 6px;
  border: none;
}
.descrition_box input{
   outline: none;
}
.repetición{
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
}
.repetición p{
  margin: 0;
  padding: 4px;
  border: 2px solid rgb(42, 179, 0);
  border-bottom: 6px solid  rgb(29, 122, 0);
  background-color: #00be3941;
  color: #00af17;
  font-weight: bold;
  border-radius: 8px;
  width: 100%;
  text-align: center;
}
#openOpiciones{
padding: 8px 50px;
border-radius: 8px;
background-color: #5900ff54;
border: 2px solid #3f02ce;
border-bottom: 6px solid #26006d;
color: #290088;
font-weight: bold;
transition: 0.5s ease;
cursor: pointer;
font-size: 15px;
}
.conten_repetion{
  width: 200px;
  height: 180px;
  background: white;
  padding: 15px;
  border: 1px solid rgb(145, 145, 145);
  box-shadow: 0 0 30px rgb(206, 206, 206);
  border-radius: 10px;
  transition: 0.4s ease;
  overflow: hidden;
  animation: themeAnimation 0.16s ease-in-out;
}
#repet{
  padding: 8px 8px; color: #474747;
  font-size: 15px; 
  transition: 0.1s ease; 
  border-radius: 6px;
  display: flex;
  gap: 8px;
  cursor: pointer;
}
#repet i{
  font-size: 16px;}
#repet p{
  margin: 0;
}
#repet:hover{background: rgba(220, 220, 220, 0.788);}
.repeticion_tasks{
  display: none;
}

.repeticion_tasks.show{
  position: absolute;
  height: 100%;
  transform: translateY(-190px) translateX(165px);
  z-index: 29;
  display:block;
  background: transparent;
}
#openOpiciones:hover{
  scale: 1.02;
}
#Guadar-btn{
  padding: 12px 60px;
  background-color: #020580;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  transition: 0.40s ease-in-out;
  cursor: pointer;
}
#Guadar-btn:hover{
  transform: scale(1.04);
}

/*======================================*/
.grafiaca_progreso{
  box-shadow: 0 0 10px gainsboro;
  border-radius: 12px;
  grid-row: 1 / span 0;
}

/*=====================================*/
.proyects{
  box-shadow: 0 0 10px gainsboro;
  border-radius: 12px;
}
/*=====================================*/
.List_check{
  position: relative;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 0 8px gainsboro;
  opacity: 1;
  transition: 0.10s ease;
  grid-row: 1/ span 2; 
}
.List_check.show{
  opacity: 0;
}
.task-item{
  display: grid;
  grid-template-columns: 54% 20% auto 2%;
  box-shadow: 0 0 5px rgba(170, 170, 170, 0.781);
  gap: 20px;
  transition: 0.90s ease-out;
  padding: 12px;
  font-size: 18px;
  margin-bottom: 8px;
  border-radius: 8px;
  margin-block-end: 15px;
}

.task-text {
  cursor: pointer;
  flex-grow: 5;
  padding-top: 6px ;
  margin-left: 8px;
}
.box_tasks_text{
  display: grid;
  grid-template-columns: 5% auto;
  gap: 8px;
}

.task-text.done {
  text-decoration: line-through;
  opacity: 0.6;
  animation: popCkeck2 0.40s ease-in-out;
}

.check {
  appearance: none;   /* Quita el estilo del sistema */
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.25s ease;
  position: relative;
  margin-top: 6px;
}

.check:hover {
  border-color: #4a60de;
}


.check:checked {
  background: #4a59de;
  border-color: #4ad9de;
}


.check:checked::before {
  content: "✔";
  color: white;
  font-size: 14px;
  position: absolute;
  top: -2px;
  left: 4px;
}
.info_tarea{
  box-shadow: 0 0 10px gainsboro;
  padding: 10px;
  opacity: 1;
  transition: 0.10s ease;
  border-radius: 12px;
}
.info_tarea.show{
  opacity: 0;
}
.body_tarea{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.viso_boxVacia{
  grid-column: 2/ span 2 ;
  height: 80px;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
  border-radius: 8px;
  border: 2px dashed rgb(255, 0, 140);
  background-color: #8cc7d41e;
  position: relative;
  overflow: hidden;
}
.caja2{
  margin-top: 15%;
}
.viso_caja_vacia{
  grid-column: 2/ span 2 ;
  height: 360px;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
  border-radius: 8px;
  border: 2px dashed rgb(255, 0, 140);
  background-color: #8cc7d41e;
}
.viso_caja_vacia p{
  transform: translateY(-68px);
}
.caja{
  width: 90px;
  height: 90px;
  background: linear-gradient(60deg, #ff8a00, #e52e71);
  cursor: pointer;
  padding: 6px;
  margin-top: 90px;
  border-radius: 50%;
  text-align: center;
}
.caja i{
  font-size: 30px;
  color: #020580;
  margin-top: 26px;
}

/*stylo gobal de targetas*/
.cont_tarjetas{
 background: linear-gradient(90deg, #a9f2ff, #a8adff);;
 height: 220px ;
 border-radius: 12px;
 padding: 6px;
}
.emoji{
  width:70px ;
  height: 70px;
  border: 2px solid gainsboro;
  border-radius: 50%;
  margin-left: 15px;
  background-color: #020580;
}
.editar{
  background-color: #ffffff;
  display: flex;
  gap: 5px;
  border-radius: 6px;
}
.editar i{
  color: #e52e71;
  padding: 6px 4px;
}
.editar p{
  margin: 5px;
}
/*=================================*/

.delete-btn {
  background: rebeccapurple;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  color: rgb(255, 0, 140);
}
.openEditar{
  font-size: 16px;
  padding-top: 8px;
  cursor: pointer;
  color: #949494;

}
.editar_item{
  display: none;
  background-color: #020580;
}
.editar_item.active{
  display: block;
}
.Editar_targeta{
  display: none;
}
.Editar_targeta.active{
  display: block;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 30;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
}
.cuerpo_modal{
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  padding-top: 50px;
  width: 600px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 4px 9px 10px slateblue;
  animation: intro 0.4s ease-in-out;
}
.header-editar{
  display: grid;
  grid-template-columns: 93% auto;
  top: 0;
  padding: 8px;
  position: absolute;
  background: linear-gradient(to right, #d6f1f8, #8ce9fa);
  width: 100%;
  box-shadow: 0 3px 5px rgba(220, 220, 220, 0.63);
  z-index: 17;
}
.header-editar p{
  font-size: 14px;
  color: #818181;
  margin: 3px;
  font-weight: bold;
}
.Closeeditar{
  font-size: 25px;

}
.footer-editar{
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 -4px 5px rgba(220, 220, 220, 0.63);
}
.contenido-editar{
  padding: 8px;
  overflow-y: auto;
  height: 300px;
}
.input-editar input{
  width: 97%;
  padding: 12px 6px;
  font-size: 15px;
  font-weight: bold;
  color: #818181;
  border: none;
}

/*=============== Animaciones ====================*/
@keyframes intro{
  from{
    opacity: 0;
    transform: scale(.90);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes themeAnimation {
 
  from{
    transform: scale(0.96);
    opacity: 0;
  }
   to{
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes spin{
  form{translate: 0;}
  to{ translate: -100%; }
}
@keyframes aparecer{
  from{
    opacity: 0;
    transform: translateY(-4px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
    text-shadow: 0px 0 0px rgba(105, 90, 205, 0);
  }
}
@keyframes fadeUp{
  from{
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px)

  }
}
@keyframes deleteItem {
  from{
    opacity: 1;
    transform: translateX(-500px);
  }
  to {
    opacity: 0;
    transform: translateX(0)
  }
}
@keyframes popCkeck{
  0% {transform: scale(1);}
  40% {transform: scale(1.50);}
  100% {transform: scale(1);}
}
@keyframes popCkeck2{
  40% {transform: scale(1.02);}
}
/* Fondo del modal */
.modal {
  position: fixed;
  z-index: 29;
  inset: 0;
  background: rgba(5, 2, 53, 0.6);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .35s ease;
}

/* Mostrar modal */
.modal.show {
  opacity: 1;
  pointer-events: all;
}

/* Caja del modal */
.modal-content {
  background: transparent;
  padding: 40px 50px;
  border-radius: 20px;
  text-align: center;
  background: linear-gradient(100deg,  #0026ff, #f7186a, #020580);
  background-size: 600% 600%;
  animation: mover 4s ease infinite;
}
.backgraud-content{
    transform: scale(.6);
    opacity: 0;
    animation: modalIn .4s ease forwards;
    border-radius: 20px;
}
/* Animación entrada modal */
@keyframes modalIn {
  0% { transform: scale(.6) translateY(20px); opacity: 0; }
  100% { transform: scale(1) translateY(0); opacity: 1; }
}

/* Ícono animado */
.check-anim {
  background: linear-gradient(30deg, #a9d2dd, #c3f4fc);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid #0084ff;
  position: relative;
  margin: auto;
  animation: pop 0.10s ease forwards 0.1s;
}


.check-anim::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 50px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 9px;
  border-right: 8px solid #001aff;
  border-bottom: 8px solid #ae00ff;
  transform: rotate(38deg) translate(8px, -5px);
  top: 10px;
  left: 18px;
  opacity: 0;
  animation: drawCheck 0.4s ease forwards 0.2s;
}

/* Animación círculo */
@keyframes pop {
  0% { transform: scale(.4); opacity: 0; }
  70% { transform: scale(1.2); }
  100% { transform: scale(1); opacity: 1; }

}

/* Dibujar el check */
@keyframes drawCheck {
  0% { opacity: 0; transform: rotate(38deg) translate(8px, -5px) scale(0.90); }
  90% { opacity: 0.5; transform: rotate(38deg) translate(8px, -5px) scale(1.09); }
  100% { opacity: 1; transform: rotate(38deg) translate(8px, -5px) scale(1); }
}

@keyframes mover {
  0% { background-position: 0% 50%; }
  60% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
@keyframes Titulo-fade{
  to{
    transform: scale(1);
    opacity: 1;
  }
  from{
    transform: scale(1.3);
    opacity: 0.5;
  }
}



.titulo-modal {
  margin-top: 20px;
  padding: 5px;
  border-radius: 12px;
  font-size: 24px;
  font-weight: bold;
  color: #2ed5ff;
  animation: Titulo-fade .90s ease-in-out;
}
/*=================================================*/


/*Resposing*/
@media (max-width: 470px){
  
  body{
    overflow: auto;
  }
.container_main{
  overflow: auto;
  grid-template-columns: auto;
  height: 100%;
}
#Titulo_app{
  margin: 8px 0 28px 10px;
  font-size: 20px;
}
.contenedor{
  gap: 0px;
  padding: 10px;
  grid-template-columns: repeat(1, 1fr);
  overflow: auto;
  height: auto;

}

#addBtn{
  background-color: rgb(255, 217, 0);
  width: auto;
  cursor: pointer;
  margin-right: 0px;
}
#task-input input{
  width: 100%;
  margin-left: 0px;
}

.targetas_info{
  margin-top: 3px;
  grid-column: 1 / span 1;
}
.carousel {
  margin-left: 10%;
  width: 240px;
  height: 400px;
}

/* tarjetas */
.card {
  min-width: 220px;
  height: 300px
}
.List_check{
  padding: 0px;
  grid-column: 1 / span 2;
  box-shadow: 0 0 0px rgba(220, 220, 220, 0);

}
#taskList{
  padding: 4px;
}
.task-item{
  display: grid;
  grid-template-columns: 41% 43% 3%;
}
.box_tasks_text{
  grid-column: 1 / span 3; 
  display: grid;
  grid-template-columns: 7% auto;
  gap: 8px;
}


.info_tarea{
  display: grid;
  grid-auto-rows: 50%;

 padding: 8px;
 border-radius: 8px;
 margin-block-end: 50px;

}
.body_tarea{
  display: grid;
  grid-template-columns: auto ;
  gap: 10px;
}
.viso_boxVacia{  grid-column: 1 / span 3 ;}
.viso_caja_vacia{
  grid-column: 1 / span 3 ;
}
.nav_menu{
  padding: 4px 6px 6px 6px;
}
.nav0{
  display: none;
}
.nav2{
  display: block;
}
.nav-main{
  background-color: #fff;
  box-shadow: 0px  -4px 2px rgba(199, 199, 199, 0.568); 
  z-index: 14;
  position:fixed;
  bottom: 0;
  height: 66px;
  width: 100%;
}
.plusAdd{
  width: 28px;
  height: 28px;

}
.funciones_smart p{
  font-size: 13px;
}
.funciones_smart h5{
  margin: 4px 0 0 0;
}
#Add h5{
margin: 4px 0 0 0;}
#Add i{
  margin-left: 10px;
  font-size: 18px;
  padding-top: 6px;
  padding-left: 7px;
}
.funciones_smart i{
  font-size: 26px;
  color: rgb(30, 0, 165);
}
#Hogar{
  display: grid;
  gap: 2px;

}
#Add{
  display: grid;
  gap: 0px;
  justify-content: center;
  margin: 0;
}
#Proyectos{
  display: grid;
  gap: 0px;
}
#Calendario{
  display: grid;
  gap: 0px;
}
#cuenta{
  display: grid;
  gap: 0px;
}
#settings{
  display: grid;
  gap: 0px;
}
.contenedor_menu{
  grid-template-columns: repeat(5, 1fr);
  gap: 0px;
  padding: 0px;
}

.Barra_Superior_principal{
  grid-template-columns: auto;
  position: relative;
}
/*Perfil*/
.NavMovil{
  display: block;
  display: grid;
  grid-template-columns: 93% auto;
  background: white;
  box-shadow: 1px 0 5px gainsboro;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 40;
}

.Notificaciones i{
  font-size: 20px;
  margin-top: 8px;
}
.add_persons_notificaciones{
  display: none;
}
.tasksProyecAll{
  margin-top: 40px;
}
.Saludo_noticias{
  grid-template-columns: 64% auto;
  grid-column: 1 / span 2;
  height: 180px;
}
.CantTasksAdd{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.CantTasksAdd{
  background: linear-gradient(30deg, #a1bdfa, #fffdf8);
  height: 100%;
  position: relative;
  justify-content: center;
}
.CantTasksAdd button{
  border: 3px solid rgb(0, 204, 255);
  background: #ffffff;
  font-size: 15px;
  color: #01cce7;
  height: 60px;
  width: 70px;
  margin-left: 12px;
} 
.CantTasksAdd h5{
  margin: 6px 0 0 0;
  color: #464545;
  font-weight: normal;
}
.contanier_settinRigth{
  grid-column: 1 / span 2;
}
#tasksOptions {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4px;
  width: 100%;
}
#tasksOptions button{
  display: flex;
  gap: 3px;
}
.content_theme{
  position: relative;
  display: none;
  margin-right: 90px;
}


.check-anim {
  width: 80px;
  height: 80px;
}
.check-anim::after {
  width: 20px;
  height: 30px;
  top: 10px;
  left: 10px;
}
/*subir tarea*/
.backgraud-tasks{
  height: 100%;
}

.subir_tarea{
  position: absolute;
  width: 100%;
  height: 100%;
}
.contenido_main{
  max-height: 100%;
  position: fixed;
  overflow-y:auto ;
  border: 0px solid gainsboro;
  border-radius: 0px;
  grid-template-columns: auto;
}
.contenedor_categoria{
  display:flex;
  gap: 15px;
  max-height: 80px;
  padding: 14px;
}
.scroll_subir_task{
 transform: translateY(-100px);
}
.options{
  flex: 0 0 10rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 10%;
  gap: 5px;
  padding: 10px 8px;
  padding-top: 15px;
}

/*descrition*/
.title_description{
  margin-block-end: 6px;
}
.descrition_box {
  grid-template-columns: auto;
}
.separar{
  padding-top: 30px;
  padding-bottom: 20px;
}
.repetición{
  display: grid;
  grid-template-columns: auto auto;
  gap:10px ;
}
.repetición p{
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

#openOpiciones{
padding: 10px;
width: 100%;
font-size: 15px;
}

/*
.modal-content {
  padding: 10px 10px;
}*/

}
