:root {
  --color-bg: #e9eef7;
  --color-text: #0f172a;
  --color-primary: #1e88e5;
  --card-bg: #f5f5f5;
  --navBar: rgb(32, 32, 32);
  --bordes-nav: rgb(53, 53, 53);
  --blackfondo: #030303;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #121212;
    --color-text: #ffffff;
    --color-primary: #90caf9;

    --card-bg: #1e1e1e;
  }
}

/*Modo manual*/
html[data-theme="dark"] {
  --color-bg: rgb(32, 32, 32);
  --color-text: #ffffff;
  --color-primary: #90caf9;
  --card-bg: #1e1e1e;
}

html[data-theme="light"] {
  --color-bg: #f5f4f8;
  --color-text: #222222;
  --color-primary: #1e88e5;
  --card-bg: #f5f5f5;
}

@media (max-width: 700px) {
  html[data-theme="light"] {
    --color-bg: #ffffff;
  }
}
:root {
  --bg-modal-light: #ffffff;
  --bg-input-light: #f5f5f5;
  --bg-footer-light: #ffffff;
  --border-light: #e0e0e0;
  --text-light: #000;
}

/* DARK */
[data-theme="dark"] {
  --bg-modal-dark: #232627ff;
  --bg-input-dark: #8cc7d41e;
  --bg-footer-dark: #232627ff;
  --border-dark: #555555;
  --text-dark: #ffffff;
}

/* DARK */

[data-theme="dark"] .contenidoVisualizarOpciones {
  background: var(--bg-modal-dark);
  box-shadow: none;
}

[data-theme="dark"] .listaOpcionesModalVisualizar i {
  color: #a0a0a0;
}

[data-theme="dark"] .listaOpcionesModalVisualizar p {
  color: #dfdfdf;
}
[data-theme="dark"] .listaOpcionesModalVisualizar:hover {
  background: #797979;
}
/*Menús*/

[data-theme="dark"] .nav-main {
  background: var(--blackfondo);
}

[data-theme="dark"] .funciones_smart i {
  color: #aaaaaa;
}

[data-theme="dark"] .funciones_smart p {
  color: #cacaca;
}

/*Modal editar*/
[data-theme="dark"] .ContentSheet {
  width: 400px;
}
[data-theme="dark"] .opcionesEditarfoto {
  background: #383838ff;
}
[data-theme="dark"] .opcionesEditarfoto:hover {
  background: rgb(109, 109, 109);
}
[data-theme="dark"] .ContentSheet {
  background: #000f16;
}
[data-theme="dark"] .btnCancelarAccionSheet {
  background: var(--border-dark);
  margin: 0 13px;
}
[data-theme="dark"] .AccionesAvanzadasEditarFoto {
  background: #000f16;
  color: white;
}
[data-theme="dark"] .opcionesEditarfoto i {
  color: #b9b9b9;
}

[data-theme="dark"] .opcionesEditarfoto p {
  color: #d3d3d3;
}

[data-theme="dark"] .cuerpo_modal {
  background: var(--bg-modal-dark);
  border: 1px solid var(--border-dark);
}

@media (max-width: 700px) {
  [data-theme="dark"] .cuerpo_modal {
    border: 0px solid var(--border-dark);
  }
}

[data-theme="dark"] .footer-editar {
  background: var(--bg-footer-dark);
}

[data-theme="dark"] .descripcionEditar textarea {
  background: var(--bg-input-dark);
  color: var(--text-dark);
}

[data-theme="dark"] .input-editar input {
  background: transparent;
  color: var(--text-dark);
}

[data-theme="dark"] .btnEditarProgrmacion {
  color: rgb(0, 74, 97);
  background: #0099ff;
  border-color: #87c1f0;
}
[data-theme="dark"] .btnEditarProgrmacion i {
  color: rgb(0, 74, 97);
}

[data-theme="dark"] .contenedor_categoria .options.selected {
  background-color: #5900ff;
  color: #f5fdff;
}

[data-theme="dark"] .contenedor_Editar .options2.selected {
  background-color: #5900ff;
  color: #f5fdff;
}

[data-theme="dark"] .options:hover {
  background-color: #5900ff;
}
[data-theme="dark"] .options2:hover {
  background-color: #5900ff;
}

[data-theme="dark"] .options {
  box-shadow: 0 0 0 0px var(--border-dark);
  border: 1px solid #2788dd;
  color: white;
  background: #474747;
}

[data-theme="dark"] .options2 {
  box-shadow: 0 0 0 0px var(--border-dark);
  border: 1px solid #2788dd;
  color: white;
  background: #474747;
}

[data-theme="dark"] .cajaSeccionEditar {
  box-shadow: 0 0 0 2px var(--border-dark);
}

[data-theme="dark"] .eliminarTasks {
  box-shadow: 0 0 0 2px var(--border-dark);
}

[data-theme="dark"] .opentAviso {
  background: #ffdedef6;
}
[data-theme="dark"] .backgrauEditar {
  background: rgba(0, 0, 0, 0.356);
  backdrop-filter: blur(10px);
}

/*Agregar*/

[data-theme="dark"] .agregar {
  background: var(--bg-modal-dark);
}

/*Lista tareas*/
[data-theme="dark"] .task-item {
  background: #242424;
}

[data-theme="dark"] .task-pro.styleBaja {
  background: rgba(194, 255, 207, 0.205);
  color: rgb(0, 224, 67);
  border-bottom: 3px solid rgb(0, 238, 163);
  border-bottom: 0;
}
[data-theme="dark"] .task-pro.styleNormal {
  background: linear-gradient(40deg, #02ebdf2a, #0145ff36);
  color: #02b2e7;
  border-bottom: 0;
}
[data-theme="dark"] .task-pro.styleAlta {
  background: rgba(255, 255, 255, 0.144);
  color: rgb(252, 147, 147);
  border-bottom: 0;
}

[data-theme="dark"] .task-cat {
  background: linear-gradient(40deg, rgb(51, 51, 51));
  color: #00c3ff;
  border-bottom: 0px;
}

/*Mensajes System*/
[data-theme="dark"] .contentMsg {
  box-shadow: 0 8px 30px rgb(110, 110, 110);
}
[data-theme="dark"] .contentMsgInferior {
  box-shadow: 0 8px 30px rgb(34, 34, 34);
  background: white;
  color: #000000;
  border: 1px solid rgb(219, 219, 219);
}

[data-theme="dark"] .material-symbols-outlined {
  color: #000000;
}

/*Contenedores main*/
[data-theme="dark"] .Barra_Superior_principal {
  background: transparent;
}
[data-theme="dark"] .grafiaca_progreso {
  background: rgb(44, 44, 44);
}
[data-theme="dark"] .proyects {
  background: rgb(44, 44, 44);
}
[data-theme="dark"] .List_check {
  background: rgb(44, 44, 44);
}

@media (max-width: 700px) {
  [data-theme="dark"] .cuerpo_modal {
    border: 0px solid var(--border-dark);
  }

  [data-theme="dark"] .List_check {
    background: transparent;
  }

  /*Menús*/
  [data-theme="dark"] .NavMovil {
    background: var(--navBar);
    box-shadow: 0 0 0 2px var(--bordes-nav);
  }

  [data-theme="dark"] .nav-main {
    background: var(--navBar);
    border-top: 2px solid var(--bordes-nav);
  }

  [data-theme="dark"] .funciones_smart i,
  .funciones_smart p {
    color: #dadada;
  }

  [data-theme="dark"] .openAdd i {
    color: #dadada;
  }

  /*Editar y perfil*/
  [data-theme="dark"] .Closeeditar {
    color: white;
  }
}
