:root {
  --color-bg: #f5f4f8;
  --color-text: #0f172a;
  --color-primary: #1e88e5;
  --card-bg: #f5f5f5;
  --navBar: #00020f;
  --bordes-nav: #121427;
  --blackfondo: #00031b;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #121212;
    --color-text: #ffffff;
    --color-primary: #90caf9;

    --card-bg: #1e1e1e;
  }
}

/*Modo manual*/
html[data-theme="dark"] {
  --color-bg: #00020f;
  --color-text: #ffffff;
  --color-primary: #90caf9;
  --card-bg: #1e1e1e;
}

html[data-theme="light"] {
  --color-bg: #f5f4f8;
  --color-text: #222222;
  --color-primary: #1e88e5;
  --card-bg: #f5f5f5;
}

@media (max-width: 700px) {
  html[data-theme="light"] {
    --color-bg: #ffffff;
  }

  html[data-theme="dark"] {
    --color-bg: #00020f;
    --bordes-nav: #1e2141;
  }
}
:root {
  --bg-modal-light: #ffffff;
  --bg-input-light: #f5f5f5;
  --bg-footer-light: #ffffff;
  --border-light: #e0e0e0;
  --text-light: #000;
}

/* DARK */
[data-theme="dark"] {
  --bg-modal-dark: #232627ff;
  --bg-input-dark: #8cc7d41e;
  --bg-footer-dark: #232627ff;
  --border-dark: #555555;
  --text-dark: #ffffff;
}

/* DARK */

[data-theme="dark"] .contenidoVisualizarOpciones {
  background: var(--bg-modal-dark);
  box-shadow: none;
}

[data-theme="dark"] .listaOpcionesModalVisualizar i {
  color: #a0a0a0;
}

[data-theme="dark"] .listaOpcionesModalVisualizar p {
  color: #dfdfdf;
}
[data-theme="dark"] .listaOpcionesModalVisualizar:hover {
  background: #797979;
}
/*Menús*/

[data-theme="dark"] .nav-main {
  background: var(--blackfondo);
}

[data-theme="dark"] .funciones_smart i {
  color: #aaaaaa;
}

[data-theme="dark"] .funciones_smart p {
  color: #cacaca;
}
[data-theme="dark"] #tasksOptions button,
#tasksOptions button i {
  color: rgb(190, 190, 190);
}

/*Modal editar perfil*/
[data-theme="dark"] .opcionesEditarfoto {
  background: transparent;
}
[data-theme="dark"] .opcionesEditarfoto:hover {
  background: rgb(109, 109, 109);
}
[data-theme="dark"] .ContentSheet {
  background: #2b2b2b;
}
[data-theme="dark"] .btnCancelarAccionSheet {
  background: var(--border-dark);
  margin: 0 13px;
}
[data-theme="dark"] .AccionesAvanzadasEditarFoto {
  background: #2b2b2b;
  color: white;
}
[data-theme="dark"] .opcionesEditarfoto i {
  color: #d8d8d8;
}

[data-theme="dark"] .opcionesEditarfoto p {
  color: #f1f1f1;
}

/*Editar tarea*/

[data-theme="dark"] .cuerpo_modal {
  background: #00020f;
  border: 1px solid var(--border-dark);
}

@media (max-width: 700px) {
  [data-theme="dark"] .cuerpo_modal {
    border: 0px solid var(--border-dark);
  }
}

[data-theme="dark"] .footer-editar {
  background: #00020f;
  border-top: 0px;
}
[data-theme="dark"] .CuadroContendorAgTasks {
  box-shadow: none;
  border: 0px solid var(--bordes-nav);
  padding: 0;
}

[data-theme="dark"] .descripcionEditar textarea {
  background: #01010a;
  color: var(--text-dark);
  border: 2px solid var(--bordes-nav);
}

[data-theme="dark"] .input-editar input {
  background: transparent;
  color: var(--text-dark);
}
[data-theme="dark"] .tarea-completada {
  background: #1d1f4dc9;
}
[data-theme="dark"] .check-completada__box {
  border: 2px solid #007bff;
  background: #1d1f4dc9;
}
[data-theme="dark"] .btnEditarProgrmacion {
  color: rgb(255, 255, 255);
  background: #00091d;
  border: none;
}
[data-theme="dark"] .btnEditarProgrmacion i {
  color: rgb(0, 132, 255);
}

[data-theme="dark"] .contenedor_categoria .options.selected {
  background-color: #5900ff;
  color: #f5fdff;
}

[data-theme="dark"] .contenedor_Editar .options2.selected {
  background-color: #5900ff;
  color: #f5fdff;
}

[data-theme="dark"] .options:hover {
  background-color: #5900ff;
}
[data-theme="dark"] .options2:hover {
  background-color: #5900ff;
}

[data-theme="dark"] .options {
  box-shadow: none;
  border: 1px solid var(--bordes-nav);

  color: white;
  background: #0c1025;
}
[data-theme="dark"] .contentSeccionesEditar h5 {
  margin-top: 0px;
  box-shadow: none;
  border-bottom: 1px solid var(--bordes-nav);
}
[data-theme="dark"] .descripcionEditar label {
  box-shadow: none;
  border-bottom: 1px solid var(--bordes-nav);
}
[data-theme="dark"] .options2 {
  box-shadow: none;
  border: 1px solid var(--bordes-nav);

  color: white;
  background: #0c1025;
}

[data-theme="dark"] .cajaSeccionEditar {
  box-shadow: none;
  border: 1px solid var(--bordes-nav);
  background: #18181800;
  overflow: hidden;
}

[data-theme="dark"] .eliminarTasks {
  box-shadow: none;
  border: 1px solid var(--bordes-nav);
}

[data-theme="dark"] .opentAviso {
  background: #00091d;
  border: none;
  color: white;
  font-weight: normal;
}
[data-theme="dark"] .backgrauEditar {
  background: rgba(52, 52, 68, 0.26);
  backdrop-filter: blur(10px);
}

/*Add tareas*/
[data-theme="dark"] .subir_tarea {
  background: #00020f;
}
[data-theme="dark"] .contenido_main {
  background: #00020f;
}

[data-theme="dark"] .agregar {
  background: #00020f;
  border-top: 1px solid var(--bordes-nav);
}

[data-theme="dark"] .Categoria {
  background: #00020f;
  box-shadow: none;
  border: 1.5px solid var(--bordes-nav);
}

[data-theme="dark"] #task-input input {
  box-shadow: none;
  border: 2px solid #222a3b;
}
[data-theme="dark"] #task-input input::placeholder {
  color: #999999;
}
[data-theme="dark"] #task-input input:focus {
  border-color: #007bff;
}
[data-theme="dark"] .contenedor_categoria {
  background: #00020f;
  box-shadow: none;
  border: 1.5px solid var(--bordes-nav);
}
[data-theme="dark"] .descrition_box {
  background: #00020f;
  box-shadow: none;
  border: 1.5px solid var(--bordes-nav);
}

[data-theme="dark"] .tiempo {
  box-shadow: none;
  border: 1px solid var(--bordes-nav);
  color: white;
}

/*Lista tareas*/
[data-theme="dark"] .task-item {
  background: #00020f;
  box-shadow: none;
  border: 1.5px solid var(--bordes-nav);
}
[data-theme="dark"] .task-item.done {
  background: #7998ff38;
  transition: background 0.25s ease;
}

[data-theme="dark"] .task-pro.styleBaja {
  background: rgba(194, 255, 207, 0.205);
  color: rgb(0, 224, 67);
  border-bottom: 3px solid rgb(0, 238, 163);
  border-bottom: 0;
}
[data-theme="dark"] .task-pro.styleNormal {
  background: linear-gradient(40deg, #02ebdf2a, #0145ff36);
  color: #02b2e7;
  border-bottom: 0;
}
[data-theme="dark"] .task-pro.styleAlta {
  background: rgba(255, 255, 255, 0.144);
  color: rgb(252, 147, 147);
  border-bottom: 0;
}

[data-theme="dark"] .task-cat {
  background: #0b0e22;
  color: #00c3ff;
  border-bottom: 0px;
}

/*Perfil*/
[data-theme="dark"] .Perfile {
  margin-top: 0;
  background: #00020f;
  border-color: var(--bordes-nav);
}
[data-theme="dark"] .header_perfil_scroll {
  background: #00020f;
  border-color: var(--bordes-nav);
  color: white;
}
[data-theme="dark"] .ContentEditar {
  background: #232627ff;
  color: #ffffff;
}
/*Ajustes Acceso Rapido*/
[data-theme="dark"] .lineDivSoriaGears {
  background: var(--bordes-nav);
}
/*Mensajes System*/
[data-theme="dark"] .title_message_advertencia {
  color: #141414;
}
[data-theme="dark"] .contentMsg {
  box-shadow: 0 8px 30px rgb(110, 110, 110);
}
[data-theme="dark"] .contentMsgInferior {
  box-shadow: 0 8px 30px rgb(34, 34, 34);
  background: white;
  color: #000000;
  border: 1px solid rgb(219, 219, 219);
}

[data-theme="dark"] .material-symbols-outlined {
  color: #000000;
}

/*Contenedores main*/
[data-theme="dark"] .Barra_Superior_principal {
  background: transparent;
}
[data-theme="dark"] .grafiaca_progreso {
  background: #00020f;
}
[data-theme="dark"] .proyects {
  background: #00020f;
}
[data-theme="dark"] .List_check {
  background: #00020f;
}
/*Animaciones*/
.modal {
  background: rgba(3, 1, 27, 0.6);
  backdrop-filter: blur(20px);
}
/*==============*/
[data-theme="dark"] .calendar {
  background: #00031d;
}
[data-theme="dark"] #monthYear {
  color: #fff;
}

[data-theme="dark"] .calendar-weekdays span {
  opacity: 0.8;
  color: #8f8f8f;
}

[data-theme="dark"] .calendar-days div {
  color: #fff;
}
[data-theme="dark"] .calendar-header button {
  color: #0099ff;
}
[data-theme="dark"] .btnsOpcionesCanlndar button {
  color: #0099ff;
}

[data-theme="dark"] .calendarEditar {
  background: #00031d;
}
[data-theme="dark"] .monthYearEditar {
  color: #fff;
}

[data-theme="dark"] .calendar-weekdaysEditar span {
  opacity: 0.8;
  color: #8f8f8f;
}

[data-theme="dark"] .calendar-daysEditar div {
  color: #fff;
}
[data-theme="dark"] .calendar-headerEditar button {
  color: #0099ff;
}
[data-theme="dark"] .btnsOpcionesCanlndarEditar button {
  color: #0099ff;
}

[data-theme="dark"] .reloj {
  background: #00031d;
}
[data-theme="dark"] .reloj-body {
  background: #131b30;
  box-shadow: none;
}
[data-theme="dark"] .horaFormada h5 {
  background: #1e2136b2;
}

[data-theme="dark"] .listaHora {
  background: #0c1025;
  border: 1.8px solid #0f172a;
}

[data-theme="dark"] .listaMinuto {
  background: #0c1025;
  border: 1.8px solid #0f172a;
}

[data-theme="dark"] .opcionHora {
  color: #fff;
}
[data-theme="dark"] .cancelarHora {
  background: #151b2c;
  color: #a7a7a7;
}
[data-theme="dark"] .reloj-header {
  color: #ffffff;
}
[data-theme="dark"] .opcionHora:hover {
  background: #262647;
}

/*stylo gobal de targetas*/
[data-theme="dark"] .info_tarea {
  box-shadow: 0 0 0 1.5px rgb(33, 30, 48);
  background: #00020f;
}
[data-theme="dark"] .headerInfo_Tarea {
  border-color: var(--bordes-nav);
  background: #00020f;
}

[data-theme="dark"] .optInfo_Tarea span {
  color: #e6e6e6;
}
[data-theme="dark"] .optInfo_Tarea i {
  color: #e6e6e6;
}

[data-theme="dark"] .promandaTarea {
  border-color: var(--bordes-nav);
}

[data-theme="dark"] .card-objeto {
  background: #00020f;
  border: 1px solid rgb(95, 101, 121);
  color: white;
}
[data-theme="dark"] .card-objeto__titulo {
  color: white;
}
/*==============*/
@media (max-width: 700px) {
  [data-theme="dark"] .calendar {
    background: #000429;
  }

  [data-theme="dark"] .calendarEditar {
    background: #000429;
  }
  [data-theme="dark"] .reloj {
    background: #00020f;
  }
  [data-theme="dark"] .contenedorReloj {
    background: rgba(53, 53, 53, 0.473);
  }
  /*==============*/
  [data-theme="dark"] .cuerpo_modal {
    border: 0px solid var(--border-dark);
  }

  [data-theme="dark"] .List_check {
    background: transparent;
  }

  /*Menús*/
  [data-theme="dark"] .NavMovil {
    background: var(--navBar);
    box-shadow: 0 0 0 1px var(--bordes-nav);
  }

  [data-theme="dark"] .nav-main {
    background: var(--navBar);
    border-top: 1px solid var(--bordes-nav);
  }

  [data-theme="dark"] .funciones_smart i,
  .funciones_smart p {
    color: #dadada;
  }

  [data-theme="dark"] .openAdd i {
    color: #dadada;
  }

  /*Editar y perfil*/
  [data-theme="dark"] .Closeeditar {
    color: white;
  }
  [data-theme="dark"] .EditarPerfilHeader {
    background: rgba(0, 0, 0, 0.5);
  }

  [data-theme="dark"] .btnEditarProgrmacion {
    background: #1d1f4dc9;
  }

  [data-theme="dark"] .options {
    background: #1d1f4dc9;
  }
  [data-theme="dark"] .options2 {
    background: #1d1f4dc9;
  }
}
